.main .card {
  --bs-card-border-radius: 20px;
  --bs-card-inner-border-radius: 20px;
  --bs-card-border-width:0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.main h3 {
  font-size: 18px;
  font-weight: 600;
  color: #6a6a6a;
}
.main h3 .underline {
  text-decoration: 2px underline #209cbb;
}
