@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.navbar-collapse.show .btn {
    margin-bottom: 15px;
}
.navbar-brand {
  display: flex;
  align-items: flex-end;
}
.logo-text {
  font-size: 25px;
  font-weight: 600;
  color: #1ca0e3;
  margin-left: 5px;
  font-family: "Pacifico", cursive;
}
 .navbar-nav {
  align-items: center;
}
.navbar .nav-link {
  color: #aeaeae;
  font-size: 14px;
}
